# ─── Server ───────────────────────────────────────────
HOST=0.0.0.0
PORT=3001
NODE_ENV=development

# ─── Database ──────────────────────────────────────────
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/product_service_db"

# ─── Auth Service ──────────────────────────────────────
AUTH_SERVICE_BASE_URL=https://user-auth-service-six.vercel.app
AUTH_SERVICE_ME_ENDPOINT=/v1/auth/me
